body {
  font-family: sans-serif;
  font-size: .8125em;
  background-color: #fff3ee; }
  @media all and (min-width: 200px) {
    body {
      font-size: .9375em;
      font-family: "chaparral-pro"; } }
  @media all and (min-width: 300px) {
    body {
      font-size: 1.0em; } }
  @media all and (min-width: 450px) {
    body {
      font-size: 1.05em; } }
  @media all and (min-width: 650px) {
    body {
      font-size: 1.15em; } }
  @media all and (min-width: 850px) {
    body {
      font-size: 1.25em; } }
  @media all and (min-width: 1050px) {
    body {
      font-size: 1.3em; } }
  @media all and (min-width: 1250px) {
    body {
      font-size: 1.35em; } }

#main {
  padding: 1em 5.57097% 2em 3.44286%; }
  @media all and (min-width: 300px) {
    #main {
      padding: 1em 9.01452% 2em 5.57097%; } }
  @media all and (min-width: 650px) {
    #main {
      padding: 1em 14.58659% 2em 9.01452%; } }
  @media all and (min-width: 850px) {
    #main {
      padding: 1em 18.03193% 2em 11.14373%; } }
  @media all and (min-width: 1050px) {
    #main {
      padding: 1em 23.6029% 2em 14.58659%; } }
  @media all and (min-width: 450px) {
    #main .article {
      text-shadow: 0 1px white; } }
  @media all and (min-width: 1450px) {
    #main .article {
      width: 42em; } }

p.hanging {
  text-indent: -.3em; }
