// This file must be imported before loading html5-boilerplate

// base
$line-height: 1.4 !default;
$font-color: #210 !default;

$link-color: #00e !default;
$link-hover-color: #06e !default;
$link-visited-color: #551a8b !default;

$selected-font-color: #000 !default;
$selected-background-color: #ffa !default;

$invalid-background-color: #f0dddd !default;